<header id="header" class="header header-site">
  <div class="container headline-wrapper">
    <div class="headline">
      <div class="headline-logo">
        <h1><a href="/">{% include dl-logo.html %}</a></h1>
      </div>
      
      <ul class="headline-nav">
        <li>
          <a name="about" href="/#about">About</a>
        </li>
        <li>
          <a href="/work">Work</a>
        </li>
        <li>
          <a href="/blog">Blog</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
      </ul>
  </div>
</header>
