<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">
	
	<!-- If Internet Explorer Version is less than 9 redirect to IE-Fail page -->
	<!--[if lt IE 9 ]>	<script> window.location.replace("http://www.donaldlivingston.com/ie-fail"); </script> <![endif]-->

	<link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png"/>
	<link rel="apple-touch-icon" sizes="72x72" href="/assets/images/apple-touch-icon-72x72.png"/>
	<link rel="apple-touch-icon" sizes="114x114" href="/assets/images/apple-touch-icon-114x114.png"/>
	<link rel="icon" href="/favicon.ico">

	<!-- Bootstrap Stylesheets -->
	<link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}" >
	<!-- Supersized -->
	<link rel="stylesheet" href="{{ "/css/supersized.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/css/supersized.shutter.css" | prepend: site.baseurl }}">

	
	<!-- Google Font -->
	<link rel='stylesheet'href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic,500italic,500,300italic,300'>
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="stylesheet" href="{{ "/css/jquery.fancybox.css" | prepend: site.baseurl }}" />
</head>
