	{% capture root %}{% if page.root %}{{ page.root }}{% else %}{{ post.root }}{% endif %}{%endcapture%}

	<!--Scripts-->
    <script type="text/javascript" src="{{ root }}/assets/js/jquery-1.11.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ root }}/assets/js/bootstrap.min.js"></script>    
	<script type="text/javascript" src="{{ root }}/assets/js/supersized.3.2.7.min.js"></script> <!-- Slider -->
    <script type="text/javascript" src="{{ root }}/assets/js/jquery.smooth-scroll.min.js"></script>
    <script type="text/javascript" src="{{ root }}/assets/js/jquery.cycle2.min-2.js"></script>
    <script type="text/javascript" src="{{ root }}/assets/js/jquery.mixitup.min.js"></script>
    <script type="text/javascript" src="{{ root }}/assets/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="{{ root }}/assets/js/classie.js"></script>
    <script type="text/javascript" src="{{ root }}/assets/js/cbpAnimatedHeader.js"></script>
	<script type="text/javascript" src="{{ root }}/assets/js/jquery.viewportchecker.js"></script>
	<script src="http://cdn.jsdelivr.net/jquery.validation/1.13.1/jquery.validate.min.js"></script>
    <script type="text/javascript" src="{{ root }}/assets/js/dl-scripts.js"></script>
    <script type="text/javascript">
		$(document).ready(function() {
			$.supersized({
				// Functionality
				slideshow               :   1,			// Slideshow on/off
				autoplay				:	1,			// Slideshow starts playing automatically
				start_slide             :   1,			// Start slide (0 is random)
				stop_loop				:	0,			// Pauses slideshow on last slide
				random					: 	1,			// Randomize slide order (Ignores start slide)
				slide_interval          :   4000,		// Length between transitions
				transition              :   1, 			// 0-None, 1-Fade, 2-Slide Top, 3-Slide Right, 4-Slide Bottom, 5-Slide Left, 6-Carousel Right, 7-Carousel Left
				transition_speed		:	2000,		// Speed of transition
				new_window				:	1,			// Image links open in new window/tab
				pause_hover             :   0,			// Pause slideshow on hover
				keyboard_nav            :   1,			// Keyboard navigation on/off
				performance				:	1,			// 0-Normal, 1-Hybrid speed/quality, 2-Optimizes image quality, 3-Optimizes transition speed // (Only works for Firefox/IE, not Webkit)
				image_protect			:	1,			// Disables image dragging and right click with Javascript
				// Size & Position						   
				min_width		        :   0,			// Min width allowed (in pixels)
				min_height		        :   0,			// Min height allowed (in pixels)
				vertical_center         :   1,			// Vertically center background
				horizontal_center       :   1,			// Horizontally center background
				fit_always				:	0,			// Image will never exceed browser width or height (Ignores min. dimensions)
				fit_portrait         	:   1,			// Portrait images will not exceed browser height
				fit_landscape			:   0,			// Landscape images will not exceed browser width
				// Components							
				slide_links				:	'blank',	// Individual links for each slide (Options: false, 'num', 'name', 'blank')
				thumb_links				:	0,			// Individual thumb links for each slide
				thumbnail_navigation    :   0,			// Thumbnail navigation
				slides 					:  	[			// Slideshow Images
				{image : '{{ root }}/assets/images/backgrounds/blur01.jpg', title : '', thumb : '', url : ''},
				{image : '{{ root }}/assets/images/backgrounds/blur02.jpg', title : '', thumb : '', url : ''},
				{image : '{{ root }}/assets/images/backgrounds/blur03.jpg', title : '', thumb : '', url : ''},
				{image : '{{ root }}/assets/images/backgrounds/blur04.jpg', title : '', thumb : '', url : ''},
				{image : '{{ root }}/assets/images/backgrounds/blur05.jpg', title : '', thumb : '', url : ''}  
				],
				// Theme Options			   
				progress_bar			:	0,			// Timer for each slide							
				mouse_scrub				:	0
				
			});
		});
	</script>
	<script>
		$('[data-toggle="popover"]').popover({trigger: 'hover','placement': 'top'});
	</script>