

/*= TYPOGRAPHY
---------------------------------------------------------------------------------------------- */
html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	background: $offwhite;
	// background: url(../assets/images/backgrounds/dl-background04.jpg) fixed no-repeat;
	// background-size: auto 100%;
	// background-position: center top;
	color: $blue-grey;
	font-size: 10px;
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: 300;
	@media (min-width: 768px) {
		background-size: 100%;
	}
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: 500;
	color: $midnight;
	margin-top: 0;
	margin-bottom: 15px;
	line-height: 1.15;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
	font-size: 1.2em;
	margin: 0 0 0 5px;
}
h1 {
	font-size: 2.8em;
}
h2 {
	font-size: 2.4em;
}
h3 {
	font-size: 1.8em;
}
h4 {
	font-size: 1.6em;
}
h5 {
	font-size: 1.4em;
}
h6 {
	font-size: 1.1em;
}
a {
	color: $blue;
}
a:hover,
a:focus {
	outline: none;
}
small,
.small {
	font-size: 1.3em;
}
ul,
menu,
dir {
	list-style-type: square;
}

.dl-2014 {
	.navbar {
		background: $midnight;
		border-bottom: 1px solid $blue-grey;
		box-shadow: none;
		font-size: 2em;
		-webkit-transition: all .3s ease; 
        -moz-transition: all .3s ease;
        transition: all .3s ease;
        min-height: 60px;
        overflow: hidden;
        margin: -65px 0 0;
        padding: 0;
  		.navbar-brand {
			color: #f0f0f0;
			color: $offwhite;
			font-size: 2rem;
			font-weight: 400;
			line-height: 50px;
			text-transform: uppercase;
    		height: 50px;
    		margin-top: 5px;
    		padding: 0 0 0 10px;
			.dl-logo {
				width: 50px;
				margin-right: 10px;
				display: none;
				path {
					fill: $offwhite;
				}
				@media ( min-width: 360px ) {
					display: inline;
					float: left;
				}
			}
		}
		@media (min-width: 768px) {
			//background: transparent;
			//padding: 20px 0;
			//border: none;
		}

	}
	.navbar.navbar-show{
		display: block;
		background: $midnight;
		border-bottom: 1px solid $blue-grey;
		padding: 0;
		-webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        transition: all .3s ease;
        min-height: 60px;
        margin: 0;
	}
	.navbar-toggle {
		margin: 15px 15px 15px 0;
		color: $offwhite;
		.icon-bar {
			background-color: $offwhite;
		}
	}
	.navbar-nav > li > a {
		color: $offwhite;
		font-size: 1.6rem;
		font-weight: 300;	
		text-transform: uppercase;
		padding: 10px 15px;
		margin: 9px 0;
	}
	.navbar-default .navbar-nav > .active > a {
		background-image: none;
	    background-color: transparent;
	    color: $blue;
	    box-shadow: none;
	}
	.navbar-default .navbar-nav > li > a:hover {
	    background-color: transparent;
	    color: $blue;
	}
	.body-bg {
		background-color: $blue-grey;
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: -1;
		img{
			//width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			@media (min-width: 768px) {
				
			}
			@media (min-width: 992px) {
				//width: 100%;
			}
		}
	}
	.header {
		background-color:rgba(30,30,30,0.35);
		border-bottom: 1px solid $white-brown;
		height: 100%;
		.headline-wrapper {
			position: relative;
			overflow: hidden;
			height: 100%;
			padding: 0;
		}
		.headline {
			text-align: center;
			position: absolute;
			width: 100%;
			height: 320px;
			margin-top: -140px;
			top: 50%;
			.dl-logo { width: 160px; }
			h1 { 
				font-size: 2.8rem; 
				font-weight: 500;
				margin: 10px 0; 
				text-transform: uppercase;
				text-align: center;
				color: $offwhite;
			}
			h2 { 
				font-size: 1.8rem;
				font-weight: 300;
				color: $offwhite;
			}
			.headline-nav {
				margin: 0;
				padding: 0;
				list-style: none;
				li {
					display: inline-block;
					padding: 10px 0;
					margin: 5px 0;
				}
			}
			.headline-nav > li > a {
				color: $offwhite;
				font-size: 1.4rem;
				font-weight: 300;	
				text-transform: uppercase;
				padding: 5px 10px;
				margin: 5px 2px;
				border: 1px solid $offwhite;
				border-radius: 5px;
			} 
			.headline-nav > li > a:hover {
				color: $blue;
				text-decoration: none;
				border: 1px solid $blue;
			}
			@media (min-width: 600px) and (min-height: 540px) {
				height: 480px;
				margin-top: -260px;					
				.dl-logo { width: auto; max-width: 300px; }
				h1 {
					font-size: 3.6rem;
					margin: 20px 0;
				}
				h2{
					font-size: 2.4rem;
				}
				.headline-nav { margin: 30px 0; }
				.headline-nav > li { margin: 5px; }
				.headline-nav > li > a  {
					margin: 5px;
					font-size: 1.6rem;
					padding: 10px 15px;
				}
			}
		}
	}
	.header.header-site {
		height: 200px;
		@media (min-width: 600px) and (min-height: 540px) { 
			height: 160px;
		}
		.headline {
			height: 200px;
			margin-top: 0px;
			top: 0px;
			padding-top: 10px;
			h1 {
				margin: 0;
			}
			.headline-logo {
				.dl-logo {
					width: 120px;
				}
			}
			.headline-nav {
			}
			@media (min-width: 600px) and (min-height: 540px) { 
				height: 140px;
				margin-top: 0px;
				top: 10px;
				.headline-logo {
					position: absolute;
					left: 0;
					top: 0;
					.dl-logo {
						width: 140px;
					}
				}
				.headline-nav {
					display: block;
					position: absolute;
					right: 0;
					top: 10px;
				}
			}
		}
	}
	section {
		background-color: $offwhite;
		border-bottom: 1px solid $white-brown;
		padding: 60px 0;
		h2 {
			font-size: 30px;
			font-weight: 300;
			text-transform: uppercase;
			text-align: center;
			margin-bottom: 40px;
		}
		h2 span {
			border-bottom: 2px solid $blue;
		}
	}
	.about {
		img {
			width: 100%;
		}
		h3 {
			text-align: center;
			font-weight: 400;
			padding: 10px 0;
			text-transform: uppercase;
			font-size: 2.4em;
		}
		p {
			margin: 20px 0;
			font-size: 1.6em;
			line-height: 1.8em;	
		}
		.family {
			.family-member {
				text-align: center;
			}
			h4 {
				margin: 10px 0;
				text-align: center;
				font-size: 1.8em;
			}
			p {
				margin: 10px 0;
				text-align: center;
			}
			img {
				margin-top: 20px;
				max-width: 320px;
			}
		}
	}
	.skills {
		h3 { 
			text-transform: uppercase; 
			font-weight: 300; 
			font-size: 2em;
		}
		.skillset {
			margin-bottom: 40px;
			.skill-level{
				position: relative;
				background-color: $white-brown;
				border-radius: 5px;
				padding: 4px;
				margin: 10px 0;
				h4 {
					color: $offwhite;
					font-size: 1.4em;
					position: absolute;
					top: 5px;
					left: 8px;
					margin: 0;
				}
				span {
					display: block;
					background-color: $blue;
					border-radius: 3px;
					color: $offwhite;
					padding: 2px;
					text-indent: -99999px;
					visibility: hidden;
					width: 0px;
				}
			}
		}
		.skillset.animate {
			.skill-level {
				span {
					visibility: visible; 
					-webkit-transition: width 2s ease-in-out 0; 
					-moz-transition: width 2s; 
					-o-transition: width 2s ease-in-out 0; 
					-ms-transition: width 2s ease-in-out 0; 
					transition: width 2s ease-in-out 0;
				}
				.html-css { width: 95%; }
				.responsive-design { width: 80%; }
				.jquery-javascript { width: 75%; }
				.bootstrap { width: 90%; }
				.adobe { width: 85%; }
				.php { width: 60%; }
				.databases { width: 50%; }
				.mvc { width: 60%; }
				.ui-ux { width: 70%; }
			}
		}
		.self-promotion {
			margin-bottom: 40px;
			.passion {
				font-size: 1.8em;
				font-weight: 600;
				font-style: italic;
				font-family: Georgia, serif;
			}
		}
		p {
			font-size: 1.6em;
			line-height: 1.8em;
		}
		.caveat { font-size: 1em; }
	}
	.work {
		//background-color: $midnight;
		h2 {
			//color: $offwhite;	
		}
		.work-row {
		}
		.work-item {
			padding: 0;
			height: 200px;
			max-height: 200px;
			position: relative;
			overflow: hidden;
			.work-bkg {
				height: 100%;
				width: 100%;
				background-color: $midnight;
				-webkit-transition: all 2s ease; 
				-moz-transition: all 2s ease; 
				-o-transition: all 2s ease; 
				-ms-transition: all 2s ease; 
				transition: all 2s ease;
				background-size: 100%;
			}
			.work-bkg:hover {
				transform: scale(1.25);
				-webkit-transition: all 2s ease; 
				-moz-transition: all 2s ease; 
				-o-transition: all 2s ease; 
				-ms-transition: all 2s ease; 
				transition: all 2s ease;
			}
			.work-bkg.zagg-1 {
				background: url(../assets/images/work/zagg/zagg-home-full.jpg) no-repeat;
				background-position: -10px -10px;
				background-size: 120% auto;
			}
			.work-bkg.zagg-2 {
				background: url(../assets/images/work/zagg/zagg-is-full.jpg) no-repeat;
				background-size: 120% auto;
				background-position: -10px -20px;
			}
			.work-bkg.zagg-3 {
				background: url(../assets/images/work/zagg/zagg-autofit-full.jpg) no-repeat;
				background-size: 120% auto;
				background-position: 0 -60px;
			}
			.work-bkg.overstock-1 {
				background: url(../assets/images/work/overstock/overstock-artisans-full.jpg) no-repeat;
				background-position: 0px -10px;
				background-size: 120% auto;
			}
			.work-bkg.overstock-2 {
				background: url(../assets/images/work/overstock/overstock-fallclearance-full.jpg) no-repeat;
				background-position: -10px -30px;
				background-size: 120% auto;
			}
			.work-bkg.overstock-3 {
				background: url(../assets/images/work/overstock/overstock-25days-full.jpg) no-repeat;
				background-position: -32px -60px;
				background-size: 120% auto;
			}
			.work-bkg.xennsoft-1 {
				background: url(../assets/images/work/xennsoft/xennsoft-nucerity.jpg) no-repeat;
				background-position: -10px 0;
				background-size: 120% auto;
			}
			.work-bkg.xennsoft-2 {
				background: url(../assets/images/work/xennsoft/xennsoft-wakeup.jpg) no-repeat;
				background-position: 0 0;
				background-size: 120% auto;
			}
			.work-bkg.srs-1 {
				background: url(../assets/images/work/srs/srs-directhit.jpg) no-repeat;
				background-position: 0 0;
				background-size: 120% auto;
			}
		}
	}
	.blog {
		h2.blog-heading {
			font-size: 2.4rem;
			text-transform: none;
		}
		p, .post-list {
			font-size: 1.6rem;
			line-height: 1.8;
		}
	}
	.post {
		font-size: 1.6rem;
		line-height: 1.8;
	}
	.contact {
		font-size: 1.6rem;
		line-height: 1.8;
		min-height: 80%;
		p {
			font-size: 1.6rem;
			line-height: 1.8;
		}
	}
	.site-footer {
		background: $midnight;
		color: $offwhite;
		padding: 30px 0 0;
		h3 {
			color: $offwhite;
			font-size: 2.0rem;
			font-weight: 200;
		}
		h4 {
			color: $offwhite;
			font-weight: 400;
			font-size: 1.8rem;
		}
		p {
			font-size: 1.6rem;
			line-height: 1.8;
		}
		a {
			color: $blue;
		}
		.social-links {
			text-align: left;
			margin-bottom: 40px;
			.social-link {
				width: 50px;
				height: 50px;
				display: inline-block;
				margin: 5px;
				padding: 5px;
				border: 1px solid $offwhite;
				border-radius: 50%;
				transition: transform 0.25s ease 0s;
				svg {
					width: auto;
					path {
						fill: $offwhite;
					}
				}
				&:hover {
					transition: transform 0.25s ease 0s;
					transform: scale(1.2);
					color: $blue;
					border: 1px solid $blue;
					path {
						fill: $blue;
					}
				}
			}
			
		}
		.colophon {
			.popover {
				color: $blue-grey;
				font-size: 1.6rem;
			}
		}
		.copyright {
			border-top: 1px solid $offwhite;
			h4 {
				margin: 10px 0;
				color: $offwhite;
				font-weight: 200;
			}
		}
		.color-palette{
			width: 100%;
			margin-bottom: 15px;
			.color1, .color2, .color3, .color4, .color5 {
				width: 100%;
				font-size: 1.2rem;
				line-height: 1.6;
				padding: 0 10px;
				border-top: 1px solid $offwhite;
				border-left: 1px solid $offwhite;
				border-right: 1px solid $offwhite;
				border-bottom: 0;
			}
			.color1 {
				background-color: $white-brown;
				color: $blue-grey;
			}
			.color2 {
				background-color: $blue-grey;
				color: $white-brown;
			}
			.color3 {
				background-color: $midnight;
			}
			.color4 {
				background-color: $offwhite;
				color: $midnight;
			}
			.color5 {
				background-color: $blue;
			}
		}
	}
	
	&.four-o-four {
		.navbar {
			margin-top: 0;
			background-color: rgba(30,30,30,0.35);
			border: 0;
			position: relative;
		}
		.main {
			background-color:rgba(30,30,30,0.35);
			border-bottom: 0;
			min-height: 90%;	
			text-align: center;
			color: $offwhite;
			.dl-logo {
				max-width: 300px;
				width: 80%;
				margin: 50px auto 25px;
			}
			h1,h2,h3 {
				color: $offwhite;
			}
			h1 {
				font-size: 6rem;
			}
			ul, ul li {
				margin: 0;
				padding: 0;
				list-style: none;
				font-size: 1.4rem;
				text-align: center;
			}
			p {
				font-size: 1.4rem;
				text-align: center;
			}
			.btn-default {
				background-color: transparent;
				border: 1px solid $offwhite;
				color: $offwhite;
				font-size: 1.8rem;
				margin: 25px auto;
				padding: 10px 15px;
				&:hover {
					color: $blue;
					border-color: $blue;
				}
			}
		}
		footer {
			color: $offwhite;
			background-color: rgba(30,30,30,0.35);
			border: none;
			min-height: 10%;
			p {
				font-size: 1.4rem;
				color: $offwhite;
			}
			a {
				color: $offwhite;
				&:hover {
					color: $blue;
				}
			}
		}
	}

	@media (max-width: 991px) {
	    .navbar-header {
	        float: none;
	    }
	    .navbar-toggle {
	        display: block;
	    }
	    .navbar-collapse {
	        border-top: 1px solid transparent;
	        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	    }
	    .navbar-collapse.collapse {
	        display: none!important;
	    }
	    .navbar-nav {
	        float: none!important;
	        margin: 7.5px -15px;
	    }
	    .navbar-nav>li {
	        float: none;
	    }
	    .navbar-nav>li>a {
	        padding-top: 10px;
	        padding-bottom: 10px;
	    }
	    /* since 3.1.0 */
	    .navbar-collapse.collapse.in { 
	        display: block!important;
	    }
	    .collapsing {
	        overflow: hidden!important;
	    }
	}

}