.browser-wrapper {
	border: 2px solid $blue-grey;
	border-radius: 6px;
	overflow: hidden;
	margin-bottom: 20px;
	.browser-top {
		border-bottom: 2px solid $blue-grey;
		padding: 10px;
		position: relative;
		height: 44px;
		overflow: hidden;
		ul {
			margin: 0;
			padding: 0;
			display: inline;
			position: absolute;
			left: 10px;
			top: 8px;
			li {
				display: inline-block;
				border: 2px solid $blue-grey;
				border-radius: 50%;
				background: $blue-grey;
				width: 10px;
				height: 10px;
				margin: 0 2px;
			}
		}
		span.url {
			border: 2px solid $blue-grey;
			border-radius: 3px;
			position: absolute;
			left: 70px;
			right: 10px;
			top: 10px;
			bottom: 10px;
			padding-left: 10px;
			font-size: 1.2rem;
			//height: 24px;
			a, a:visited { color: $midnight; }
			a { display: block; width: 100%; }
			&:hover {
				background: $blue-grey;
				text-decoration: underline;
				a, a:visited { 
					color: $white-brown; 
					text-decoration: underline;
				}
			}
		}
	}
	.cycle-slideshow {
		.cycle-prev, .cycle-next {
			background: rgba($offwhite, 0.7);
			position: absolute;
			top: 50%;
			z-index: 500;
			font-size: 2.8rem;
			color: rgba($midnight, 0.7);
			border: 2px solid;
			border-radius: 50%;
			width: 30px;
			height: 30px;
			text-align: center;
			line-height: .8;
			display: none;
			opacity: 0;
			@media (min-width: 768px) {
				display: block;
			}
		}
		.cycle-prev {
			left: 5px;
		}
		.cycle-next {
			right: 5px;
		}
		&:hover {
			.cycle-prev, .cycle-next {
				opacity: 1;
			}
		}
	}
}