---
layout: default
title: Donald Livingston | Blog
---

<section class="blog">
  <div class="container">
    <h1><span>Donald Livingston's Blog</span></h1>
    <h2 class="blog-heading">&ldquo;Whatever might be on my mind, if you'll allow the overstatement...&rdquo;</h2>

    <ul class="post-list">
      {% for post in site.posts %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
          {% if post.img %}
            <img src="{{ post.img }}" alt="">
          {% endif %}
          {{ post.excerpt }}
        </li>
      {% endfor %}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  </div>

</section>
