<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body id="page-top" class="dl-2014 homepage">
{% include nav.html %}

{{ content }}

{% include footer.html %}
{% include scripts.html %}
<script>
    $(window).scroll(function () {
        var hT = $('.skillset').offset().top,
            hH = $('.skillset').outerHeight(),
            wH = $(window).height(),
            wS = $(this).scrollTop();
        if (wS > (hT + hH - wH)) {
            $('.skillset').addClass('animate');
        }
    });
</script>
</body>
</html>
